/* Asignamos una fuente a todo el cuerpo */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Fira Sans", sans-serif; /* Aplica la fuente a todo el cuerpo */
    font-style: italic; /* Hace que el texto aparezca en cursiva */
    background-color: #f5f5f5; /*Establece un fondo de gris claro*/
}
/* Aquí es header que contiene el navegador lateral */
.navegador {
    background-color: #f5f5f5; /*Establece fondo gris claro para el navegador*/
    padding: 10px; /* Espaciado interno para separar elementos */
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /*Centra los elementos dentro de la página*/
}

.navegador ul {
    list-style-type: none; /*Elimina los puntos del navegador*/
    margin: 0; /*Elimina márgenes exteriores*/
    padding: 0; /*Elimina espacios internos*/
    display: flex; /* Usa flexbox para organizar las secciones */
}

.navegador ul li a {
    color: #696969; /*Establece un color para los enlaces*/
    text-decoration: none; /*Elimina el susbrayado de los enlaces*/
    padding: 8px 16px; /*Añade espaciado alrededor del texto*/
}

.navegador ul li a:hover {
    background-color: #deb887; /*Cambia el fondo al pasar el cursor sobre el enlace*/
    color: #634291; /*Cambia el color al pasar el cursor sobre el enlace*/
}

form {
    display: flex; /* Usa flexbox para organizar los elementos */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos del formulario */
    margin-top: 20px; /* Añade margen superior */
}

input, textarea, button {
    width: 20%; /* Establece el ancho de los campos y botones */
    padding: 8px; /* Añade espaciado interno */
    margin-top: 5px; /* Espaciado superior entre elementos */
    margin-bottom: 10px; /* Espaciado inferior entre elementos */
    border: 1px solid #ccc; /* Añade un borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

footer > small {
    display: flex; /* Usa flexbox para alinear el contenido */
    justify-content: flex-start; /* Alinea el texto a la izquierda */
    margin-top: 15px; /* Añade margen superior */
}